@{ Layout = "/Views/Shared/_MainLayout.cshtml"; }
@* All HTML throughout taken and modified from: https://getmdl.io/components/index.html *@


@* The layout used by pages when a user is logged in *@

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    @Html.Partial("Partials/Header")
    <main class="layout__content">
        <div class="page-content">
            @RenderBody()
        </div>
    </main>
</div>