@* This is the main layout used as the basis for all pages *@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Natasha Young CTP</title>

    @* MDL css framework from: https://getmdl.io/customize/index.html *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    @* My styles *@
    <link rel="stylesheet" href="~/css/main.css" />

    @* For the RTE for writing pages - from: https://github.com/basecamp/trix *@
    <link rel="stylesheet" href="~/scripts/trix/trix.css" />
    <script src="~/scripts/trix/trix.js"></script>

</head>
<body>

    <div class="mdl-layout mdl-js-layout">
        @RenderBody()
    </div>

</body>
</html>