@model CTP.Models.ViewModels.VideoContentItemPageViewModel
@* All HTML throughout taken and modified from: https://getmdl.io/components/index.html *@


<h1>@Model.Title</h1>
<iframe src="@Model.VideoUrl" width="200" height="200"></iframe>