@model CTP.Models.ViewModels.VideoContentItemCardViewModel
@* All HTML throughout taken and modified from: https://getmdl.io/components/index.html *@


<h3>@Model.Title</h3>
<iframe src="@Model.VideoUrl" width="200" height="200"></iframe>
<a href="@Model.Url">View more</a>