@model CTP.Models.ViewModels.ProjectCardViewModel
@* Breadcrumbs used on a project page *@
@* All HTML throughout taken and modified from: https://getmdl.io/components/index.html *@


<div class="mdl-color-text--grey-500">
    <a href="/projects" title="Project Hub">Project Hub</a> &gt; 
    <span>@Model.Title</span>
</div>
