<!-- Uses a header that scrolls with the text, rather than staying locked at the top -->
<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Creative Writing Tool</span>
    </div>
</header>